{{- $machineName := .chezmoi.hostname -}}

{{- if (eq .chezmoi.os "darwin") -}}
    {{- $machineName = output "scutil" "--get" "ComputerName" | trim -}}
{{- end -}}

{{- $borgbaseItemName := printf "BorgBase %s" $machineName -}}
{{- if printf "op://Infrastructure/%s/username" $borgbaseItemName | onepasswordRead -}}
{{-   $username := printf "op://Infrastructure/%s/username" $borgbaseItemName | onepasswordRead }}
{{-    printf "op://Infrastructure/%s/private key?ssh-format=openssh" $username | onepasswordRead }}
{{- end -}}
